* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  background-color: floralwhite;
  margin-top: 1rem;
  font-size: 13px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

header h1 {
  width: 100%;
  margin: 0 auto;
  font-size: 2.5rem;
}

header a {
  width: 20%;
  margin-right: 2rem;
  text-align: end;
  font-size: 1rem;
}

.current_user-container {
  width: 20%;
  text-align: left;
  margin-left: 2rem;
  align-items: center;
}

.current_user-container img {
  width: 4rem;
  height: 3rem;
  margin-top: 0.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

.articles-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.articles-container-card-title {
  text-align: center;
  padding: 0.5rem;
}

.articles-container-card-title:hover {
  background-color: gold;
}

.articles-container-sort-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.articles-container-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  text-align: left;
  border: 1px solid rgb(196, 70, 70);
  padding: 0.5rem 1.5rem;
}

.articles-container-card-image {
  width: 50%;
  margin: 0.5rem 0;
}

.articles-container-card p {
  padding: 0.2rem;
}

.articles-container-topic-author-votes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin-top: 0.5rem;
}

.articles-container-card-link {
  text-decoration: none;
}

.votes p {
  text-align: center;
}

.votes-error {
  width: auto;
  text-align: center;
}

.votes-buttons {
  display: flex;
  flex-direction: row;
  width: 4.5rem;
  justify-content: space-between;
  margin: auto;
}

.votes-buttons button {
  width: 2rem;
  height: 1.5rem;
  background-color: purple;
  border-radius: 1rem;
  border: 1px solid;
}

.votes-buttons button:hover {
  background-color: red;
}

.votes-buttons button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.comments-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 1rem auto 1rem auto;
  align-items: center;
  text-align: center;
  width: 50%;
  border: 1px solid black;
  padding-top: 1rem;
  border-radius: 1.5rem;
}

.comments-container h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.comments-container img {
  width: 50%;
  margin: 0.5rem 0;
}

.comments-container-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: left;
  text-align: left;
  border: 1px solid purple;
  padding: 0.5rem;
  border-radius: 1.5rem;
  justify-content: space-between;
  width: 80%;
  padding: 1rem;
}

.comments-container-card p {
  padding: 0.5rem;
}

.add-comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.add-comment-container-input {
  width: 70%;
  /* height: 5rem; */
  padding: 0.2rem;
}

.add-comment-container-form-button {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.add-comment-container-form-button-cancel {
  margin-right: 0.5rem;
  padding: 0.3rem;
}

.add-comment-container-form-button-comment {
  font-weight: bolder;
  padding: 0.3rem;
}

.users-container {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  text-align: center;
}

.users-container-users_list {
  list-style: none;
}

.users-container img{
  width: 8rem;
  height: 8rem;
  margin: 0.3rem;
}

.users-container p {
  margin: 0.1rem;
  /* font-size: 0.9rem; */
}

.users-container button {
  margin: 0.1rem;
  padding: 0.2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 750px) {

  header h1 {
    font-size: 2rem;
  }

  body {
    font-size: 11px;
  }

  .articles-container {
    width: 95%;
  }

  .comments-container {
    width: 80vw;
  }

  .comments-container-card {
    width: 90%;
  }

  .votes-error {
    width: 40%;
  }

  .users-container {
    grid-template-columns: 1fr 1fr;
  }

  .users-container img {
    width: 4rem;
    height: 4rem;
  }

}